.login__mainContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/bg_image.png);
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: 75%; /* Makes the image smaller */
    background-position: right bottom; /* Moves the image to the lowest right corner */
    height: 100vh; /* Ensure the container is full height for demonstration */
}

.login__content1, .login__content2 {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login__webLogo {
    width: 100%;
    max-width: 10em;
    position: absolute;
    top: 0;
    left: 2;
    padding: 10px;
}

#login__formHeader {
    color: var(--color-lightGrey);
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}

.login__form {
    background-color: var(--color-black);
    height: 65vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-bottom: 25px;
}

#login__animation {
    width: 100%;
    max-width: 30em;
}

#login__forgotPassButton {
    color: var(--color-lightGrey);
    margin-left: 13em;
    align-self: flex-start;
    margin-bottom: 5em;
}

#login__catchPhrase {
    font-size: 30px;
    color: var(--color-black);
}