.login__mainContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/bg_image.png);
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: 75%; /* Makes the image smaller */
    background-position: right bottom; /* Moves the image to the lowest right corner */
    height: 100svh; /* Ensure the container is full height for demonstration */
}

.login__content1, .login__content2 {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login__webLogo {
    width: 100%;
    max-width: 10em;
    position: absolute;
    top: 0;
    left: 2;
    padding: 10px;
}

#login__formHeader {
    color: var(--color-lightGrey);
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    width: 100%;
}

.login__form {
    background-color: var(--color-black);
    min-height: fit-content;
    padding: 20px;
    min-width: fit-content;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-bottom: 25px;
}

#login__animation {
    width: 100%;
    max-width: 30em;
}

#login__buttons {
    display: flex;
    flex-direction: column;
}

#login__forgotPassButton {
    color: var(--color-lightGrey);
    align-self: flex-end;
    
}

#login__createAccountButton {
    color: var(--color-lightGrey);
    margin-bottom: 3em;
    align-self: flex-end;
}

#login__catchPhrase {
    font-size: 30px;
    color: var(--color-black);
}

@media only screen and (max-width: 800px) {
    .login__mainContent {
        flex-direction: column;
        background-size: 100%;
    }
    
    .login__form {
        width: 100%;
        height: 100%;
    }

    .login__content1, .login__content2 {
        height: fit-content;
        padding-top: 5em;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: fit-content;
        padding: 0 auto;
        margin: 0 auto;
    }
}