/*START OF HERO SECTION*/
.Hero {
    display: flex;
    flex-direction: row;
    background-image: url(./landingPageImages/bg_image.png);
    background-size: cover;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
}

#hero__text2 {
    width: 23em;
    font-size: clamp(25px 2.5vw, 40px);
    text-align: center;
}

.content1, .content2 {
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content1 {
    justify-content: start;
    align-items: center;
}

.content2 {
    justify-content: center;
    align-items: end;
    text-align: center;
    width: 70vw;
    padding: 0;
}

#hero-animation {
    width: 100%;
    max-width: 100%;
}
/*END OF HERO SECTION*/

/*START OF FEATURES SECTION*/
header {
    background-color: var(--color-black);
    margin-bottom: 2em;
}

.features__headerText {
    color: white;
}

.mainContent__features {
    display: flex;
    flex-direction: column;
}
.feature1, .feature2, .feature3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}

h2 {
    font-weight: 300;
    width: 20em;
}

#feature__animation {
    width: 100%;
    max-width: 30%;
}
/*END OF FEATURES SECTION*/

@media only screen and (max-width: 800px) {
    .Hero {
        flex-direction: column;
    }

    .content1, .content2 {
        height: fit-content;
        width: fit-content;
        text-align: center;
    }
}