.relevantBlog-container {
    background-color: var(--color-highlight);
    padding: 20px;
    border-radius: 5px;
}

.blog-user {
    gap: 10px;
    display: flex;
    flex-direction: row;align-items: center;
    color: white;
}

.blog-title {
    color: white;
}