.signUp__mainContent {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    overflow: hidden;
}

.signUp__content1 {
    background-color: var(--color-black);
    height: 100vh;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.signUp__content2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

}

#signUp__webLogo {
    width: 100%;
    max-width: 10em;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.signUp__form {
    max-width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signUp__input {
    width: 20em;
    background-color: transparent;
    color: var(--color-lightGrey);
}

#signUp__input::placeholder {
    color: var(--color-lightGrey);
}

#signUp__animation {
    width: 100%;
    max-width: 100vh;
}

#signUp__termsCondition {
    color: var(--color-lightGrey);
    font-size: 15px;
    padding-bottom: 20px;
}
/*TEXT HEADER ="Let's Get Started"*/
#signUp__formHeader {
    color: var(--color-lightGrey);
    font-size: 2.5em;
}


/*WEBSITE CHANGE TO PHONE SCEREN SIZE DIMENSION*/
@media only screen and (max-width: 800px) {
    .signUp__mainContent {
        flex-direction: column;
    }

    .signUp__content1, .signUp__content2 {
        width: 100%;
    }
    .signUp__content1 {
        height: 90vh;
    }

    #signUp__webLogo {
        max-width: 7em;
    }

    #signUp__content2Header {
        font-size: 2.5em;
    }
}