nav {
    padding: 20px;
    max-height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: background 0.3s ease;
    z-index: 9999;
}

nav.transparent {
    background: rgba(255, 255, 255, 0.05); /* transparent state of nav bar when scrolling down*/
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav__buttonGroup {
    margin-right: 40px;
}

#webLogo {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;   
    font-style: normal;
    font-size: clamp(25px, 1vw, 50px);
    color: var(--color-black);
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    #webLogo {
        max-width: 6em;
    }
}