.card__blog {
    background-color: rgba(0, 0, 0, 0.268);
    color: white;
    max-width: 300px;
    margin-top: 20px;
}

#blog__read {
    color: white;
}

#blog__read:hover {
    color: #64FD23;
}

@media only screen and (max-width: 600px) {
    .card__blog {
        max-width: 300px;
        max-height: fit-content;
    }
}