#navbar__user {
    padding: 20px 20px 10px;
    max-height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    position: static;
    width: 100%;
    background-color: var(--color-black);
}

#dashboard-logo {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    color: var(--color-blue);
    text-decoration: none;
}

#dashboard__search {
    width: 100%;
    max-width: 30%;
    background-color: transparent;
    color: white;
}

#dashboard__search::placeholder {
    color: white;
    opacity: 0.5;
}
/*start of nav buttons*/
.user-avatar{
    background-color: black;
}
nav ul{
    color: white;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    list-style: none;
    right: 100%;
}

nav li:hover {
    text-decoration: underline var(--color-blue) 2px;
    transition: all ease-in-out 0.4s;
}

ul li {
    padding: 15px;
    border-radius: 6px;
    transition: all 0.3s;
}

#navLinks-user {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button {
    color: white;
}

.open-sidebar-button, 
.close-sidebar-button,
#nav__text{
    display: none;
}
/*end of nav buttons*/

/*Dropdown style*/
#dropdown__item {
    color: white;
}

#dropdown__item:hover {
    color: var(--color-blue);
}

@media only screen and (max-width: 800px) {
    nav {
        justify-content: space-between;
        width: 100%;
    }

    ul li:hover {
        background-color: var(--color-blue);
    }

    ul li {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    #sidebar-active {
        display: none;
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        margin: 0;
        z-index: 10;
        width: 300px;
        height: 100vh;
        padding-top: 20px;

        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(20px);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.45s ease-out;
    }

    #navLinks-user {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 10px;
        justify-content: flex-start;
        align-items: center;
    }

    .open-sidebar-button {
        margin-right: 3em;
    }

    .open-sidebar-button, 
    .close-sidebar-button,
    #nav__text {
        display: block;
        justify-content: flex-start;
    }

    #sidebar-active:checked ~ ul {
        right: 0;
    }

    #dashboard__search {
        width: 100%;
        max-width: 35%;

    }
}