.sidebar {
    background-color: var(--color-black);
    height: 97.1vh;
    width: 10vw;
    padding: 20px 10px 0px 10px;
}

.sidebar > img {
    width: 100%;
    max-width: 8em;
}

#user__container {
    display: flex;
    flex-direction: row;
    width: 100%;
}