footer {
    background-color: var(--color-black);
    width: 100vw;               /*adds space above the footer*/
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#footer-webLogo {
    width: 100%;
    max-width: 12em;
    line-height: 0;
}