.userDashboard__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-black);
}

.blogs-tabs .ant-tabs-tab-btn {
    color: rgb(124, 124, 124);
    font-size: 20px;
    font-weight: 100;
    width: 5em;
    }   

/* Change the text color and other styles of the active tab */
.blogs-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white !important;  /* Active tab text color */    /* Optional: Make the active tab bold */
  }


.blogs-tabs .ant-tabs-ink-bar {
    display: none;
    }

.blogs-tabs .ant-tabs-nav,
.blogs-tabs .ant-tabs-nav-wrap,
.blogs-tabs .ant-tabs-tab 
    {
        border: none !important;
    }

.blogs-tabs .ant-tabs-nav::before {
    border-bottom: none !important;
  }

.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: 700;
}


.blogs-tabs {
    min-height: 80svh;
    padding: 20px;
    min-width: 60%;
}

.tab {
    height: 40em;
    overflow: auto;
    gap: 5px;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth; 
}

.tab::-webkit-scrollbar {
    width: 12px; /* for Chrome, Safari, Opera */
  }
  .tab::-moz-scrollbar {
    width: 12px; /* for Firefox */
  }
  .tab::-ms-scrollbar {
    width: 12px; /* for Edge */
  }
  /* Track color */
  .tab::-webkit-scrollbar-track {
    background: transparent; /* for Chrome, Safari, Opera */
  }
  .tab::-moz-scrollbar-track {
    background: transparent; /* for Firefox */
  }
  .tab::-ms-scrollbar-track {
    background: transparent; /* for Edge */
  }
  /* Handle color */
  .tab::-webkit-scrollbar-thumb {
    background-color: transparent; /* for Chrome, Safari, Opera */
    border-radius: 12px; /* for rounded corners */
  }
  .tab::-moz-scrollbar-thumb {
    background-color: transparent; /* for Firefox */
  }
  .tab::-ms-scrollbar-thumb {
    background-color: transparent; /* for Edge */
  }

@media only screen and (max-width: 800px) {
}