.userDashboard__container {
    height: 100svh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-black);
}

.blogs-tabs .ant-tabs-tab-btn {
    color: rgb(124, 124, 124);
    font-size: 20px;
    font-weight: 100;
    width: 5em;
    }   

/* Change the text color and other styles of the active tab */
.blogs-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white !important;  /* Active tab text color */    /* Optional: Make the active tab bold */
  }


.blogs-tabs .ant-tabs-ink-bar {
    display: none;
    }

.blogs-tabs .ant-tabs-nav,
.blogs-tabs .ant-tabs-nav-wrap,
.blogs-tabs .ant-tabs-tab 
    {
        border: none !important;
    }

.blogs-tabs .ant-tabs-nav::before {
    border-bottom: none !important;
  }

.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: 700;
}


.blogs-tabs {
    min-height: 100svh;
    padding: 20px;
    min-width: 60%;
}
  /*START OF BLOGS CONTAINER---TRANSPARENT SCROLLBAR*/
.tab {
    height: 40em;
    overflow: auto;
    gap: 5px;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth; 
}

.tab::-webkit-scrollbar {
    width: 12px; /* for Chrome, Safari, Opera */
  }
  .tab::-moz-scrollbar {
    width: 12px; /* for Firefox */
  }
  .tab::-ms-scrollbar {
    width: 12px; /* for Edge */
  }
  /* Track color */
  .tab::-webkit-scrollbar-track,
  .tab::-moz-scrollbar-track,
  .tab::-ms-scrollbar-track,
  .tab::-moz-scrollbar-thumb,
  .tab::-ms-scrollbar-thumb {
    background: transparent; /* for Chrome, Safari, Opera */
  }

  /* Handle color */
  .tab::-webkit-scrollbar-thumb {
    background-color: transparent; /* for Chrome, Safari, Opera */
    border-radius: 12px; /* for rounded corners */
  }

  /*END OF BLOGS CONTAINER---TRANSPARENT SCROLLBAR*/

  .createNotes-container {
    background-color: var(--color-highlight);
    width: 30vw;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }


  #dashboard__createNotes {
    color: white;
  }

  #save-note_button {
    background-color: var(--color-blue);
    border: none;
    font-weight: 600;
  }

  /*hero section*/
  .dashboard__hero {
    background-color: var(--color-black);
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }

  #hero-text {
    font-weight: 00;
    /* color: var(--color-black); */
    color: white;
    font-size: 30px;
    width: 30em;
    line-height: 1.8;
  }
  /*lottie animation*/
  .dashboard__header-animation {
    width: 100%;
    max-width: 20em;
  }

@media only screen and (max-width: 800px) {
}